		<div class="panel panel-primary">
			<div class="panel-heading">Questionário</div>
			<div class="panel-body">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Instruções</button>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="row">
							<div class="col-md-12">
									<h3 class="text-center">
										<span id='left-flag' class="text-left flag-icon flag-icon-{{currentQuestion.firstChoiceLanguage}}"></span>
											{{ currentQuestion.firstChoice | uppercase}} - {{currentQuestion.secondChoice | uppercase}}
										<span id='right-flag' class="flag-icon flag-icon-{{currentQuestion.secondChoiceLanguage}}"></span>
									</h3>
						    </div>
						</div>
						<div class="row">
							<div class="col-md-12 form-horizontal">
								<div class="checkbox">
										<label class="col-md-offset-4"> 
											<input ng-model='selected.fst' ng-click="selected.selectedAnswer = -1"
												type="checkbox" value=""></span>Desconheço
										</label >
										<label class="col-md-offset-2"> 
										<input ng-model='selected.snd' ng-click="selected.selectedAnswer = -1"
												type="checkbox" value="">Desconheço
										</label>
									</div>
							</div>
						</div>
						<br>
						<br>
						<br>
						<div class="row">
							<div class="col-md-offset-3">
								<span> Nada Relacionados </span> <label class="radio-inline"
									ng-repeat='i in [1,2,3,4,5,6,7,8,9]'> <input
									ng-disabled='$parent.selected.fst || $parent.selected.snd'
									ng-model="$parent.selected.selectedAnswer" value='{{i}}' type="radio"
									name="optradio"> {{i}}
								</label> <span> Muito Relacionados </span>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="text-center">
								
								<button class="btn btn-default"
										ng-disabled='!(selected.fst || selected.snd || selected.selectedAnswer > -1)'
										ng-hide="!(currentQuestionIndex < numberOfQuestions -1)" ng-click="nextQuestion()" title="Seguinte">
										Seguinte <span class="glyphicon glyphicon-circle-arrow-right""></span>
								</button> 
<!-- 									</button> -->
<!-- 								</a> -->
								<a ui-sref='survey.end'>
									<button class="btn btn-default"
										ng-disabled='!(selected.fst || selected.snd || selected.selectedAnswer > -1)'
										ng-hide="currentQuestionIndex < numberOfQuestions - 1"
										ng-click="save(survey)" title="Finalizar">
										Finalizar <span class="glyphicon"></span>
									</button>
								</a>
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>
	
	
	<div class="row">
        <div class="col-md-12"><uib-progressbar value="currentBlockQuestion" max="120"></uib-progressbar></div>
    </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Instruções</h4>
      </div>
      <div class="modal-body">
        <p>De seguida ser-lhe-ão apresentados pares de palavras em Português, Inglês e Alemão.
			Pense sobre o significado de cada palavra e indique, na sua opinião, numa escala de 1
			a 9, quanto é que as duas palavras estão relacionadas no seu <b>significado</b>. 
			Se considerar que as palavras estão muito relacionadas
			semanticamente, assinale 9. Se considerar que se referem a coisas muito
			distintas (nada relacionadas) deverá assinalar 1. Poderá utilizar todos os valores da escala.
			</p>
			
			<p><b>Exemplo:</b><p>
			<p>Se considerar que o par Professor – Docente está relacionado deverá escolher um valor
			entre 5 e 9, por exemplo 8:</p>
		
			<img class='example-img img-responsive img-rounded center-block' src="images/exemplo1.png" alt="Exemplo 1">
			
			<p>Se considerar que o par Lua – Mesa não está relacionado deverá assinalar um valor entre
			1 e 5, por exemplo 1:</p>
			
			<div class='row'>
				<img class='example-img img-responsive img-rounded center-block' src="images/exemplo2.png" alt="Exemplo 2">
			</div>
			
			<p>A avaliação está organizada em três blocos, cada um com uma duração média de 7
			minutos, dependendo da rapidez das suas respostas. No final de cada bloco, o
			seguinte iniciar-se-á automaticamente após alguns segundos. Poderá consultar as
			instruções sempre que necessitar, pressionando o botão “Instruções”.</p>
			<hr>
			<h3>Recomendações</h3>
			<br>
			<p>Em cada par, as palavras apresentadas poderão pertencer à mesma língua ou a línguas
			diferentes. A língua de cada palavra estará assinalada pela respectiva bandeira.
			Lembre-se: as palavras portuguesas correspondem à ortografia <b>anterior</b> ao
			Acordo Ortográfico.</p>
	
			<p>Numa leitura preliminar é possível que confunda algumas palavras, por exemplo
			que leia uma palavra inglesa com pronúncia alemã. Preste atenção para não
			cometer erros, não será permitido retroceder.</p>
	
			<p>Irá encontrar duas opções ‘Desconheço’, uma para cada
			palavra. Deverá selecioná-la(s) sempre que desconhecer a(s) respetiva(s)
			palavra(s). Para fazer as suas avaliações terá de conhecer o significado <u>das duas
			palavras</u>. Por isso, se em cada par selecionar pelo menos uma opção
			’Desconheço’, não lhe será permitido avaliar esse par. <u><b>Não se esqueça</b></u>: se desconhecer as duas
			palavras deverá carregar em ambos os botões ‘Desconheço’.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>